<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Show URL</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%235222d0%22></rect><path d=%22M32 55.22L32 29.03Q32.45 28.85 33.39 28.62Q34.34 28.40 35.42 28.40L35.42 28.40Q39.20 28.40 39.20 31.73L39.20 31.73L39.20 54.86Q39.20 60.71 42.26 63.18Q45.32 65.66 50.72 65.66L50.72 65.66Q54.32 65.66 56.84 64.89Q59.36 64.13 60.80 63.32L60.80 63.32L60.80 29.03Q61.25 28.85 62.20 28.62Q63.14 28.40 64.13 28.40L64.13 28.40Q68 28.40 68 31.73L68 31.73L68 63.05Q68 64.94 67.50 66.06Q67.01 67.19 65.12 68.27L65.12 68.27Q63.05 69.44 59.41 70.52Q55.76 71.60 50.63 71.60L50.63 71.60Q41.63 71.60 36.81 67.64Q32 63.68 32 55.22L32 55.22Z%22 fill=%22%23fff%22></path></svg>"
        />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://hcaptcha.com/1/api.js?recaptchacompat=off" async defer></script>
        <script>
            function submitForm(hres) {
                document.getElementById("showForm").submit();
            }
        </script>

        <style>
            html {
                font-size: 14px;
            }
            @media (min-width: 768px) {
                html {
                    font-size: 16px;
                }
            }

            .container {
                max-width: 960px;
            }

            .u-header {
                max-width: 700px;
            }

            .card-deck .card {
                min-width: 220px;
            }
        </style>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">U</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="about.html">About</a>
                <a class="p-2 text-dark" href="https://github.com/safeurl/u">Source</a>
            </nav>
        </div>

        <div class="u-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <p class="lead">
                Solve captcha to see the long URL
            </p>
            <form action="/show" method="POST" id="showForm">
                <input type="hidden" id="shortKey" name="shortKey" value="{{ shortKey }}" />
                <div class="h-captcha" data-callback="submitForm" data-sitekey="ce091196-2a6a-4eaa-864b-caf7d83e3416"></div>
            </form>
        </div>

        <div class="container pt-4">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <img src="privacy.svg" class="img-fluid" alt="privacy first" />
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">privacy first</h4>
                    </div>
                    <div class="card-body">
                        <p>No pesky trackers or annoying cookie banners.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="free.svg" class="img-fluid" alt="free forever" />
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">free forever</h4>
                    </div>
                    <div class="card-body">
                        <p>No pesky trackers or annoying cookie banners.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <img src="stats.svg" class="img-fluid" alt="free analytics" />
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">free analytics</h4>
                    </div>
                    <div class="card-body">
                        <p>No pesky trackers or annoying cookie banners.</p>
                    </div>
                </div>
            </div>
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <img class="mb-2" src="u.png" alt="u" width="24" height="24" />
                        <small class="d-block mb-3 text-muted">&copy; 2020</small>
                    </div>
                    <div class="col-6 col-md-2">
                      <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/about.html">About</a></li>
                            <li><a class="text-muted" href="/abuse.html">Report Abuse</a></li>
                            <li><a class="text-muted" href="/privacy.html">Privacy Policy</a></li>
                            <li><a class="text-muted" href="/tos.html">Terms of Service</a></li>
                            <li><a class="text-muted" href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
